.outerCard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 260px;
    height: 260px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
}

.innerCard{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
}


.innerCardCorrectStatus{
    cursor: default;
}

.innerCardWrongStatus{
    cursor: default;
}

.outerCardCorrectStatus{
    border: 2px solid rgb(12, 134, 12);
}

.outerCardWrongStatus{
    border: 2px solid red;
}